.experiences-container {
    display: flex;
    gap: 40px;
    padding: 20px;
    height: 100vh;
    width:100%;
    flex-wrap: wrap;
    overflow-y: auto;
    justify-content: center;
    align-content: center;
    flex-direction: column;
  }

  .experiences-title {
    font-family: "Abril Fatface", serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    padding-top: 9rem !important;
    font-size: 2rem;
    color: #333;
  }

  @media screen and (max-width: 600px) {
    .experiences-title {
      font-size: 1.8rem; 
      padding: 25px 25px; 
      margin-top: 100px; 
      width: 90%; 
      margin-bottom: 25px;
      word-wrap: break-word;
      text-align: center;
      display: block;
    }
  }